@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-start">
    <h1 class="mt-5 mb-5 display-6 text-center">Добро пожаловать на проект FinalBlog by MrSTEP</h1>
    <h3 class="display-7 text-center">Присоединяйтесь к нам, чтобы получить доступ ко всему функционалу!</h3>
</div>
