@model FinalBlog.ViewModels.Tag.TagEditViewModel
@{
    ViewData["Title"] = "Редактирование тега";
}

<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
<div class="max-width-350 m-auto">
    <form class="mt-5" method="post" asp-action="Edit" asp-controller="Tag">
        <h3>Редактирование тега</h3>
        <hr class="hr" />
        <div asp-validation-summary="ModelOnly" class="text-danger fs-6"></div>

        <div class="form-group mb-4 position-relative">
            <div class="row">
                <label asp-for="Name" class="form-label col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Name" class="form-control" />
                </div>
            </div>
            <span asp-validation-for="Name" class="text-danger error-message"></span>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Сохранить</button>
        <p class="form-text"><a asp-action="Index" asp-controller="Tag" class="text-decoration-none">Перейти к списку всех тегов</a></p>
    </form>
</div>